@import "../../../variables.css";

.action {
  & .message {
    text-align: center;
    font-weight: 500;
  }

  & .button-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & textarea {
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 10px;
    font-size: inherit;
    resize: vertical;
  }

  & button {
    @apply --button-primary;

    margin-left: var(--game-tile-border);
    margin-right: var(--game-tile-border);
    width: 100%;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
