@import "../../../variables.css";

.action button {
  appearance: none;
  font-size: inherit;
  background-color: var(--primary-color);
  background-image:
    linear-gradient(
      to bottom,
      color(var(--primary-color) tint(5%)) 10%,
      color(var(--primary-color) shade(5%)) 80%
    );
  border-radius: 3px;
  padding: 10px 16px;
  border: 1px solid color(var(--primary-color) shade(10%));
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: box-shadow 100ms ease-in-out;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}
